html{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	color: white;
	font: normal 10pt Helvetica,Arial,sans-serif;
	background: #EFEFEF;
	background-image: url(../images/fondo_iphone.png);
	background-size:100% auto;
	/*height: 100%;*/
	/*overflow: hidden;*/
}

#info{
	color: darkgreen;
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
}
#info img{
	vertical-align: middle;
}

header
{
	margin: 0;
	padding: 0;
	/*border-top: 3px solid #C9E0ED;*/
}
table th{
	font-size: 20px;
	text-align: left;
	height: 30px;
}
#detalle, #mas_info{
	width	: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	background-color: rgba(0,0,0,0.6);
	display: none;
}
#detalle>div, #mas_info>div{
	padding: 0 5%;

}
#detalle>div>div, #mas_info>div>div{
	margin: 30px auto 0 auto;
	max-width: 500px;
	max-height: 300px;
	width: 100%;
	/*height: 100%;*/
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	position: relative;
	padding-bottom: 30px;
	border:2px solid white;
}
#mas_info>div>div{
	margin: 30px auto 0 auto;
	max-width: 400px;
	max-height: 400px;
}

#detalle table{
	margin: 10px;
	height: 100%;
	width: 100%;
}
#mas_info table{
	margin: 5%;
	/*height: 100%;*/
	width: 90%;
	border-bottom: 2px solid rgba(255,255,255,0.3);;
}
#mas_info table tr:last-child td{
	padding-bottom: 15px;
}

#mas_info>div>div>div{
	height: 300px;
	overflow: auto;
}
#detalle table td, #mas_info table td{
	/*height: 40px;*/
	border-spacing: 4px;
	color: rgba(255,255,255,0.9);
}
#detalle article{
	padding: 10px;
}
#detalle article>div{
	
	border-radius: 10px;
	position: relative;
	background: rgb(113,185,67); /* Old browsers */
	background: -webkit-linear-gradient(top, rgba(0,64,0,0.30) 0%,rgba(113,185,67,0) 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, rgba(0,64,0,0.30) 0%,rgba(113,185,67,0) 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, rgba(0,64,0,0.30) 0%,rgba(113,185,67,0) 100%); /* IE10+ */
	background:      -o-linear-gradient(top, rgba(0,64,0,0.30) 0%,rgba(113,185,67,0) 100%); /* Opera 11.10+ */
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,64,0,0.30)), color-stop(100%,rgba(113,185,67,0))); /* Chrome,Safari4+ */
	background:         linear-gradient(to bottom, rgba(0,64,0,0.30) 0%,rgba(113,185,67,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71b943', endColorstr='#489044',GradientType=0 ); /* IE6-9 */
	height: 53px;
	
	border: 1px solid rgb(157,214,152);
	padding: 1px 70px 1px 97px;
}
#detalle div .cerrar, #mas_info div .cerrar{
	background-color:transparent;
	background-image: url(../images/cerrar.png);
	background-repeat: no-repeat;
	background-size: 28px 28px;
	border: none;
	position: absolute;
	top: -10px;
	left: -10px;
	width: 28px;
	height: 28px;
	padding: 0;
	z-index: 2000000;
}
#resultado{
	background-image: url(../images/resultado_fondo.png);
	background-size: 743px auto;
	/*background-repeat: repeat-y;*/
	position: fixed;
	bottom:0px;
	width: 100%;
	/*height: 40%;*/
	z-index: 100;
}
#resultado header{
	background-image: url(../images/resultado_sombra.png);
	background-repeat: repeat-x;
	background-size: 15px auto;
	height: 33px;
	position: relative;
	/*top: -29px;*/
	padding-top: 29px;
	margin-top: -29px;
}
#resultado h1{

	border-bottom: 1px solid rgba(0,0,0,0.28);
	margin: 0;
	color: #1A451F;
	font-size: 15px;
	height: 20px;
	padding: 8px 10px 4px 10px;
}
#resultado .atras{
	background-color: transparent;
	background-image:url(../images/atras.png);
	background-repeat: no-repeat;
	background-size: 59px 31px;
	border: none;
	float: left;
	height: 31px;
	width: 59px;
	margin: 1px 8px;
	display: none;
}
#resultado .mover{
	background-color: transparent;
	background-image:url(../images/mover.png);
	background-repeat: no-repeat;
	background-size: 21px auto;
	border: none;
	float: right;
	height: 20px;
	width: 21px;
	margin-top: -22px;
	margin-right: 7px;
}
#resultado .ocultar{
	top: 34px !important;

}
#resultado .contenido{
	height: 0px;
	overflow: hidden;
}
#resultado .pie_chart{
	width: 33%;
	float: left;
}
#resultado .pie_chart h2{
	margin: 0;
	text-align: center;
	font-size: 16px;
	color: #1A451F;

}
#resultado .pie_chart .chart{
	margin: 0 auto;
	width: 90px;
	height: 100px;
	-webkit-transform: scale(0.5);
	   -moz-transform: scale(0.5);
	    -ms-transform: scale(0.5);
	     -o-transform: scale(0.5);
	        transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	   -moz-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	     -o-transform-origin: 0 0;
	        transform-origin: 0 0;	
	
}
/*#resultado .pie_chart .chart canvas{
	margin: 0 auto;
	width: 90px !important;
	height: 100px !important;
}*/
#resultado .valores, #detalle, #mas_info{
	font-size: 18px;
	color: white;
}
#resultado .valores table{
	width: 100%;
	height: 100%;
}
#resultado .valores div{
	width: 100%;
	height: 150px;
	padding: 10px;
}
#resultado a.mas_info{
	display: inline-block;
	border: 1px solid rgba(0,74,0,0.80);
	box-shadow:0 1px 0 rgba(157,214,152,0.80);
	padding: 0;
	color: #D4F2D3;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	height:30px;
	text-decoration: none;
	background: -moz-linear-gradient(top, rgba(0,45,1,0.47) 0%, rgba(0,40,0,0.72) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,45,1,0.47)), color-stop(100%,rgba(0,40,0,0.72)));
	background: -webkit-linear-gradient(top, rgba(0,45,1,0.47) 0%,rgba(0,40,0,0.72) 100%);
	background: -o-linear-gradient(top, rgba(0,45,1,0.47) 0%,rgba(0,40,0,0.72) 100%);
	background: -ms-linear-gradient(top, rgba(0,45,1,0.47) 0%,rgba(0,40,0,0.72) 100%);
	background: linear-gradient(to bottom, rgba(0,45,1,0.47) 0%,rgba(0,40,0,0.72) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78002d01', endColorstr='#b8002800',GradientType=0 );
	margin: 9px 20%;
	width: 60%;
	text-align: center;
	border-radius: 10px;
}
#resultado a.mas_info:active{
	background: -webkit-linear-gradient(top, rgba(0,40,0,0.72) 0%,rgba(0,45,1,0.47) 100%);
	background:    -moz-linear-gradient(top, rgba(0,40,0,0.72) 0%, rgba(0,45,1,0.47) 100%);
	background:     -ms-linear-gradient(top, rgba(0,40,0,0.72) 0%,rgba(0,45,1,0.47) 100%);
	background:      -o-linear-gradient(top, rgba(0,40,0,0.72) 0%,rgba(0,45,1,0.47) 100%);
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,40,0,0.72)), color-stop(100%,rgba(0,45,1,0.47)));
	background:         linear-gradient(to bottom, rgba(0,40,0,0.72) 0%,rgba(0,45,1,0.47) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8002800', endColorstr='#78002d01',GradientType=0 );
}
/*#resultado .detalle{
	display: none;
}*/

#productos{
	padding-bottom: 230px;
	/*height:60%;*/
	/*overflow: auto;*/
}
#productos h2{
	font-size: 17px;
	color: rgb(26, 69, 31);
	background-color: rgba(4,82,18,0.40);
	margin: 0;
	padding: 8px;
	padding-left: 16px;
	border-top: 2px solid rgba(21, 87, 15, .60);
	border-bottom: 2px solid rgba(21, 87, 15, .60);
	/*margin:10px 0;*/
	position: relative;
}
#productos h2 span{
	padding-right: 30px;
	display: block;
}
#productos .ocultar, #resultado .ocultar{
	background-color:transparent;
	background-image: url(../images/ocultar_mostrar.png);
	background-repeat: no-repeat;
	background-size: 52px 26px;
	background-position: left;
	border: none;
	height: 26px;
	right: 6px;
	width: 26px;
	padding: 0;
	top: 5px;
	position: absolute;
}
#productos .ocultar.mostrar, #resultado  .ocultar.mostrar{
	background-position: right;
}

#productos .contenido{

	overflow:hidden;
}
#productos article>div{
	position: relative;
	background: rgba(4,82,18, 0.20); /* Old browsers */


	height: 65px;
	border: 2px solid rgba(21,87,15,0.20);
	border-top: none;
	padding: 1px 70px 1px 110px;
}
#productos article:first-child div{

}
#productos article:last-child div{
	/*margin-bottom: 10px;*/
}

#productos article .sombra, #detalle article .sombra{
	width: 90px;
	height: 50px;
	border: none;
	border-radius: 13px;
	float: left;
	position: absolute;
	left: 10px;
	top: 9px;
	background-color: rgba(16, 61, 21, 0.30);
}
#productos article .img, #detalle article .img{
	width: 82px;
	height: 42px;
	background-size: 105% auto;
	border: 2px solid rgba(255, 255, 255, 0.30);
	background-position: center center;
	border-radius: 10px;
	float: left;
	margin: 2px;
}
#productos h3,#detalle h3{
	color: #D4F2D3;
	font-size: 15px;
	line-height: 64px;
	margin: 0;
}
#productos h3 span, #detalle h3 span{
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}

#productos .agregar{
	background-color:transparent;
	background-image: url(../images/agregar_des.png);
	background-repeat: no-repeat;
	background-size: 26px 26px;
	border: none;
	position: absolute;
	right: 42px;
	top: 19px;
	height: 28px;
	margin-top: -3px;
	width: 28px;
	padding: 0;
}
#productos .agregar.activo{
	background-image: url(../images/agregar.png);
}
#productos .detalle{
	background-color:transparent;
	background-image: url(../images/detalle.png);
	background-repeat: no-repeat;
	background-size: 26px 26px;
	border: none;
	position: absolute;
	right: 12px;
	top: 19px;
	height: 28px;
	margin-top: -3px;
	width: 28px;
	padding: 0;
}

#consejos, #niveles{
	padding: 10px;
}
.cajas article{
	margin: 0 auto;
	background: #F8FFE8;
	max-width: 635px;
	position: relative;
	margin-bottom: 20px;
	box-shadow: 0 6px 3px 0 rgba(0,0,0,0.39);
}
#consejos .pin{
	width: 24px;
	height: 31px;
	position: absolute;
	top: -10px;
	right: 20px;
	background-size: 100%;
	background-image: url(../images/pin.png);
}
.cajas article h2{
	color: #5E4902;
	padding: 10px;
	font-size: 2em;
	margin: 0;
}
.cajas article p{
	padding: 10px;
	font-size: 1.2em;
	margin: 0;
	color: #595442;
	text-align: justify;
	padding-top: 0px;
}

#niveles .medalla img{
	margin-left: -5px;
	margin-right: 10px;
	margin-top: -5px;
	float: left;
	width: 100px;
	height: 140px;
}

#productos.canje{
	padding-bottom: 0;
}

#productos.canje .contenido{
	padding: 30px;
}


nav{

}
nav ul{
	text-align: center;
	margin: 10px 0;
	padding: 0;

}
nav li{
	list-style: none;
	display: inline-block;
	margin: -2px;
}
nav li a{
	display: block;
	border: 1px solid rgba(157,214,152,0.40);
	padding: 0 10px;
	color: #D4F2D3;
	font-size: 15px;
	line-height: 43px;
	margin: 0;
	height:45px;
	text-decoration: none;
	background: -moz-linear-gradient(top, rgba(113,185,67,0) 0%, rgba(72,144,68,0.41) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(113,185,67,0)), color-stop(100%,rgba(72,144,68,0.41))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(113,185,67,0) 0%,rgba(72,144,68,0.41) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(113,185,67,0) 0%,rgba(72,144,68,0.41) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(113,185,67,0) 0%,rgba(72,144,68,0.41) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(113,185,67,0) 0%,rgba(72,144,68,0.41) 100%); /* W3C */
}
nav li:first-child a{
	border-radius: 10px 0 0 10px;
}
nav li:last-child a{
	border-radius: 0 10px 10px 0;
}
nav li:nth-child(odd) a{
	border-right: none;
}
nav li a:active {
	background:    -moz-linear-gradient(top, rgba(72,144,68,0.41) 0%, rgba(113,185,67,0) 100%); /* FF3.6+ */
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,144,68,0.41)), color-stop(100%,rgba(113,185,67,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(72,144,68,0.41) 0%,rgba(113,185,67,0) 100%); /* Chrome10+,Safari5.1+ */
	background:      -o-linear-gradient(top, rgba(72,144,68,0.41) 0%,rgba(113,185,67,0) 100%); /* Opera 11.10+ */
	background:     -ms-linear-gradient(top, rgba(72,144,68,0.41) 0%,rgba(113,185,67,0) 100%); /* IE10+ */
	background:         linear-gradient(to bottom, rgba(72,144,68,0.41) 0%,rgba(113,185,67,0) 100%); /* W3C */

}
nav li a.act{

	/*color: #1A451F;*/
	font-weight: bold;
	/*border-color: white;*/
background: -moz-linear-gradient(top, rgba(0,45,1,0.47) 0%, rgba(0,40,0,0.72) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,45,1,0.47)), color-stop(100%,rgba(0,40,0,0.72)));
background: -webkit-linear-gradient(top, rgba(0,45,1,0.47) 0%,rgba(0,40,0,0.72) 100%);
background: -o-linear-gradient(top, rgba(0,45,1,0.47) 0%,rgba(0,40,0,0.72) 100%);
background: -ms-linear-gradient(top, rgba(0,45,1,0.47) 0%,rgba(0,40,0,0.72) 100%);
background: linear-gradient(to bottom, rgba(0,45,1,0.47) 0%,rgba(0,40,0,0.72) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78002d01', endColorstr='#b8002800',GradientType=0 );

}

@media only screen and (min-width: 702px){
  
body{
	background-image: url(../images/fondo_ipad.png);
}
#resultado {
	background-size: 100% auto;
}
#resultado .graficos{
	width: 50%;
	float: left;
}
#resultado .valores{
	width: 50%;
	float: right;
}
#resultado .valores div{
	border-left: 1px solid rgba(0,0,0,0.28);
}

#productos article>div{
	border: 1px solid rgba(157,214,152,0.40);
}
#productos article:nth-child(odd) {/*impar*/
	float: left;
	width: 50%;
}
#productos article:nth-child(even) {/*par*/
	float: right;
	width: 50%;
}
#productos article:nth-child(odd) div{/*impar*/
	border-bottom: none;
}
#productos article:nth-child(even) div{/*par*/
	border-bottom: none;
	border-left: none;
}



#productos article:nth-child(even):last-child div{/*par*/
	border-bottom: 1px solid rgba(157,214,152,0.40);
}
#productos article:nth-child(odd):nth-last-child(2) div{/*izq impar*/
	border-bottom: 1px solid rgba(157,214,152,0.40);
}
#productos article:nth-child(odd):last-child div{/*izq impar*/
	border-bottom: 1px solid rgba(157,214,152,0.40);
}
#productos article:nth-child(even):nth-last-child(2) div{/*par*/
	border-bottom: 1px solid rgba(157,214,152,0.40);
}

#niveles .medalla img{
	margin-left: -30px;
	margin-right: 10px;
	margin-top: -10px;
}

}

@media only screen and (max-height: 125px){

#promociones{
	padding: 0;
}
#promociones article{
	margin: 0;
}

body.promociones{
	overflow: hidden;
}

}